{% extends "adminpanel/base_admin.html" %}

{% block content %}

<div class="row g-4">

    <div class="col-md-4">
        <div class="card p-4 text-center">
            <h3>{{ total_users }}</h3>
            <p>Total Customers</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-4 text-center">
            <h3>{{ total_orders }}</h3>
            <p>Total Orders</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-4 text-center">
            <h3>₹{{ total_revenue }}</h3>
            <p>Total Revenue</p>
        </div>
    </div>

</div>

<br>

<div class="card p-4">
    <h5>Today's Summary</h5>
    <p>Today's Orders: <strong>{{ today_orders }}</strong></p>
    <p>Today's Revenue: <strong>₹{{ today_revenue }}</strong></p>
</div>

{% endblock %}